.block {
  max-width: 800px;
  line-height: 1.4;
  border-radius: 8px;
  box-shadow: 0px 40px 100px #EFEFEF;
  padding: 1px 10px;
  background: white;
  margin-bottom: 30px;
}

p {
	text-align: left;
}

/* This is identicle to `.block`, except for its width. */
.header {
  max-width: 950px;
  line-height: 1.4;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 40px 100px #EFEFEF;
  padding: 10px 15px;
}
